<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVTimer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C62279791D7D5F71009BFBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C62279921D7D5F72009BFBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C622799D1D7D5F72009BFBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
